main{
    #game-list{
        width: 60%;
        margin: 0 auto;
        h2{
            padding-bottom: 2px;
            border-bottom: 5px solid #AC9494;
            margin-bottom: 15px;
            font-size: 25px;
            font-weight: bold;
        }
        .game{
            // ゲーム画像(正方形)の1辺の長さ
            --image-size: 15vw;

            display: flex;
            width: 95%;
            height: var(--image-size);
            border-radius: 15px;
            margin: 0 auto 15px;
            background-color: #DBE5C6;
            .game-image{
                width: var(--image-size);
                height: 100%;
                img{
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                }
            }
            .detail{
                position: relative;
                width: calc(100% - var(--image-size) - 20px);
                padding-top: 10px;
                margin: 0 auto;
                h3{
                    padding-bottom: 2px;
                    border-bottom: 5px solid #7575E1;
                    margin-bottom: calc(var(--image-size) / 5);
                    font-size: 30px;
                    font-weight: bold;
                }
                .desc{
                    font-size: 16px;
                }
                .bottom-info{
                    position: absolute;
                    bottom: 5px;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .info{
                        font-size: 16px;
                    }
                    .ranking{
                        a{
                            font-size: 16px;
                            transition: 0.3s;

                            &:hover{
                                opacity: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
}