main{
    #game-list{
        width: 60%;
        margin: 0 auto;
        h2{
            padding-bottom: 2px;
            border-bottom: 5px solid #aaaaaa;
            margin-bottom: 15px;
            font-size: 25px;
            font-weight: bold;
        }
        .game{
            // ゲーム画像(正方形)の1辺の長さ
            --image-size: 15vw;

            display: flex;
            width: 95%;
            height: calc(var(--image-size) + 20px);
            border-radius: 15px;
            margin: 0 auto 15px;
            background-color: #d4e8ff;
            // border: 1px solid #0077ff;
            padding: 10px;
            .game-image{
                width: var(--image-size);
                height: 100%;
                img{
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                }
            }
            .detail{
                position: relative;
                width: calc(100% - var(--image-size) - 20px);
                padding-top: 10px;
                margin: 0 auto;
                h3{
                    padding-bottom: 2px;
                    border-bottom: 5px solid #0075ff;
                    margin-bottom: calc(var(--image-size) / 5);
                    font-size: 30px;
                    font-weight: bold;
                }
                .desc{
                    font-size: 16px;
                }
                .bottom-info{
                    width: 100%;

                    .ranking{
                        display: inline;
                        position: absolute;
                        bottom: 5px;
                        right: 0;

                        a{
                            font-size: 16px;
                            transition: 0.3s;

                            &:hover{
                                opacity: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
}