$fontWeight: 600;
$transition: .2s;
$buttoncolor:#0075ff;
$borderradius: 0.3rem;

html {
    box-sizing: border-box;
    font-size: 16px;
}
#form{
    margin: 0 10%;
    .form_contents{
        h2{
            font-size: 1.6rem;
            margin: 2% 0;
            padding: 3% 1%;
            font-weight: $fontWeight;
        }
        p{
            font-size: 1rem;
            margin: 2% 0;
            padding: 2% 4%;
        }
        #input_area{
            margin: 0 20%;
            padding: 3%;
            background-color: #f0f7ff;
            border: solid 1px #e0eaff;
            border-radius: 1rem;
            input{
                display: block;
                margin: 5% auto;
                width: 100%;
                height: 5vh;
                border: 2px solid #ddd; /*枠線*/
                border-radius: $borderradius;
                padding-left: 3%;
            }
            .errmsg{
                color: #ff0000;
            }
            button{
                display: block;
                margin: 4% auto 2%;
                background-color: $buttoncolor;
                color: #fff;
                padding: 2.4% 0;
                width: 68%;
                text-align: center;
                font-weight: $fontWeight;
                border-radius: 1.8rem;
                transition: $transition;
            }
        }
    }
    #transition_wrapper{
        #input_area{
            button{
                border: solid 1px $buttoncolor;
                &:hover{
                    color: white;
                    background-color: #003aaf;
                }
            }
        }
    }
}

#comp_wrapper{
    margin: 0 10%;
    padding: 3%;
    background-color: #eff5fe;
    border: #d3e1ff solid 1px;
    border-radius: 1rem;
    h2{
        font-size: 1.6rem;
        margin: 2% 0;
        padding: 3% 2%;
        font-weight: $fontWeight;
    }
    .comp_msgbox{
        p{
            font-size: 1rem;
            margin: 1% 0;
            padding: 1% 5%;
        }
    }
    button{
        display: block;
        color: #fff;
        background-color: $buttoncolor;
        border: solid 1px $buttoncolor;
        font-weight: $fontWeight;
        text-align: center;
        border-radius: 1.8rem;
        width: 68%;
        margin: 4% auto 2%;
        padding: 2.4% 0;
        transition: $transition;
        &:hover{
            color: white;
            background-color: #003aaf;
        }
    }
}