$pd: 2%;
$fontWeight: 600;
$transition: .2s;

html {
    box-sizing: border-box;
    font-size: 16px;
}
h1 {
    margin: 1.5% 10%;
    font-size: 32px;
}
#form {
    margin: 0 10%;
    background-color: #f2f2f2;
    padding: 1.5%;
    .form_contents {
        margin: 0 auto;
        background-color: #fff;
        h2 {
            font-size: 1.6rem;
            padding: $pd;
            font-weight: $fontWeight;
        }
    }
    #input_wrapper {
        margin-bottom: 2%;
        p{
            font-size: 1rem;
            padding-left: $pd;
        }
        .error {
            color: red;
            margin: 1% 0;
        }
        #input_area {
            margin: 0 25%;
            padding-bottom: 2%;
            input {
                display: block;
                margin: 4.5% auto;
                width: 100%;
                padding: 2%;
                border: 2px solid #ddd; /*枠線*/
                border-radius: 0.3rem;
                padding-left: 3%;
            }
            button {
                display: block;
                margin: 0 auto 2%;
                background-color: #0075ff;
                color: #fff;
                padding: 2.4% 0;
                width: 68%;
                text-align: center;
                font-weight: $fontWeight;
                border-radius: 1.8rem;
                transition: $transition;
                &:hover {
                    background-color: #003aaf;
                }
            }
        }
    }
    #transition_wrapper {
        padding-bottom: 2%;
        h2 {
            margin-bottom: 0.5%;
        }
        a {
            display: block;
            margin: 0 32.5%;
            padding: 1.4%;
            text-align: center;
            border: solid 1px #0075ff;
            color: #0075ff;
            border-radius: 1.8rem;
            transition: $transition;
            &:hover {
                color: white;
                background-color: #0075ff;
            }
        }
    }
}