$fontWeight: 600;
$transition: .2s;
$buttoncolor:#0075ff;
$borderradius: 0.3rem;

html {
    box-sizing: border-box;
    font-size: 16px;
}
#form{
    margin: 0 10%;
    background-color: #f7fbff;
    border: solid 1px #b5b7bb;
    border-radius: 1rem;
    .form_contents{
        h2{
            font-size: 1.6rem;
            margin: 2% 0;
            padding: 3% 1%;
            font-weight: $fontWeight;
        }
        p{
            font-size: 1rem;
            margin: 2% 0;
            padding: 2% 4%;
        }
        #input_area{
            margin: 0 20%;
            input{
                display: block;
                margin: 10% auto;
                width: 100%;
                height: 5vh;
                border: 2px solid #ddd; /*枠線*/
                border-radius: $borderradius;
                padding-left: 3%;
            }
            button{
                // margin: 5% 10%;
                // height: 6vh;
                // width: 80%;
                // text-align: center;
                // font-weight: 600;
                // transition: $transition;
                display: block;
                margin: 0 auto 2%;
                background-color: $buttoncolor;
                color: #fff;
                padding: 2.4% 0;
                width: 68%;
                text-align: center;
                font-weight: $fontWeight;
                border-radius: 1.8rem;
                transition: $transition;
            }
        }
    }
    #transition_wrapper{
        #input_area{
            button{
                border: solid 1px $buttoncolor;
                // color: #0075ff;
                border-radius: 0.4rem;
                &:hover{
                    color: white;
                    background-color: #003aaf;
                    // background-color: #0075ff;
                }
            }
        }
    }
}